@import 'variables';

html,
body,
view {
  height: 100%;
  box-sizing: border-box;
  margin: 0px;
  color: $text;
}

.view {
  height: 100%;
  display: grid;
  grid-gap: $grid-gap;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
}
