@import 'variables';

html,
body,
view {
  height: 100%;
  box-sizing: border-box;
  margin: 0px;
  color: $text;
}

// h1 {
//   font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
//   @include fluid-type(
//     $min_width,
//     $max_width,
//     $mod_1 * $mod_1 * $mod_1 * $min_font,
//     $mod_2 * $mod_2 * $mod_2 * $min_font
//   );
// }

// h2 {
//   font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
//   @include fluid-type(
//     $min_width,
//     $max_width,
//     $mod_1 * $mod_1 * $mod_1 * $min_font,
//     $mod_2 * $mod_2 * $mod_2 * $min_font
//   );
// }

// h3 {
//   font-size: $mod_1 * $mod_1 * 1rem;
//   @include fluid-type(
//     $min_width,
//     $max_width,
//     $mod_1 * $mod_1 * $min_font,
//     $mod_2 * $mod_2 * $min_font
//   );
// }

// base CSS grid
.view {
  height: 100%;
  display: grid;
  grid-gap: $grid-gap;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
}
