// == COLORS
$main: #293040;
$red: #ee4035;
$blue: #7ca8b1;
$white: #fff;
$green: #00c853;
$pink: #eb3170;
$grey: #f2f2f2;

// == TYPOGRAPHY
$fnt-main: 'Montserrat', sans-serif;
$fnt-labels: 'Raleway', sans-serif;

// == DIMENSIONS

// == SHAPES and RADII

//  == BORDERS
$test-border1: 1px solid red;
$test-border2: 1px solid blue;
