@import 'variables';

.content h4,
.content a {
  display: inline-block;
  width: auto;
  color: $white;
  padding-bottom: 25px;
}

h4 {
  font-size: calc(70% + 4 * (100vw - 600px) / 600);
  font-weight: normal;
}

h4 .redText {
  color: $red;
}
